
p{
    color: red;
}
header{
    background-color: aqua;
}
li{
    list-style: none;
    color: blue;
    cursor: pointer;
    display: inline;
}
pre{
    border: 3px dashed brown;
}

h4{
    text-align: center;
    color: blueviolet;
    border: 3px dashed red;
    cursor: pointer;
}

.class1{
    color: black;
}

h4 + section{
    color: green;
}

section :last-child{
    color: orchid;
}